*.pyc

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.pytest_cache

.idea/*
.python-version

.mypy_cache

.venv
/releases/*
pip-wheel-metadata
/poetry.toml

poetry/core/*
/coverage.xml
ru-hexlet-io-courses*